/* dark mode */
/* *{
    background-color: black;
    color: white;
} */

button {
    background-color: white;
}

button:hover {
    cursor: pointer;
    background-color: darkred;
}

.not-selected {
    background-color: white;
}

.selected {
    background-color: darkred;
}