/* dark mode */
*{
    /* background-color: black;
    color: white; */
    font-family: sans-serif;
}

/* .not-selected {
    background-color: white;
}

.selected {
    background-color: darkred;
} */


:root {
    --button-size: 50px;
}

h1 {
    font-size: 1.35rem;
    text-align: center;
    color: lightgray;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: hsla(210, 50%, 50%, 1);
}

.calculator-body{
    width: 260px;
    display: grid;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin: 20% 0 0 0;
    background-color: white;
}

.button-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, var(--button-size));
    grid-template-rows: repeat(6, var(--button-size));
    /* border: 1px solid red; */
    margin: 12% 0 12% 0 ;
}

.btn {
    background-color: white;
}
.btn:hover {
    cursor: pointer;
    background-color: hsla(210, 50%, 60%, 1);
    color: white;
    transition-duration: 180ms;
}

.display {
    display: grid;
    grid-column: span 3;
    border-radius: 40px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    font-size: 1.1rem;
    align-items: center;
    padding: 0 0 0 10%;
    border: 1px solid hsla(0, 0%, 0%, .15)
}

.span1 {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.span2 {
    grid-column: span 2;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* .number {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
} */

.operator {
    background-color: darkblue;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: white;
}

.equals, 
.clear,
.backspace,
.zero {
    background-color: darkblue;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: white;
}

.history-display {
    margin: 5% 0 0 0;
    text-align: center;
    color: hsla(0, 0%, 40%, 1);
    line-height: .5;
 }

 .pressed {
     background-color: hsla(210, 50%, 40%, 1);
 }